<div class="wrap">
    <div class="title">網路ATM</div>
    <div class="sub_title">請選擇以下網路銀行付款</div>
    <div class="banks">
      <div class="bank">兆豐國際商銀</div>
      <div class="bank">台灣土地銀行</div>
      <div class="bank">永豐銀行</div>
      <div class="bank">台灣銀行</div>
      <div class="bank">國泰世華銀行</div>
      <div class="bank">國泰世華銀行</div>
      <div class="bank">玉山銀行</div>
      <div class="bank">第一銀行</div>
      <div class="bank">台北富邦</div>
      <div class="bank">台新銀行</div>
      <div class="bank">其他金融機構</div>
    </div>
    <div class="message">
      <ol>
        <li>
          選擇以上任一銀行之金融卡並使用同銀行WebATM進行轉帳享0元手續費； 使用他行WebATM，則需支付跨行手續費15元。
        </li>
        <li>
          若無以上任一家銀行之金融卡，可任意選擇或點選其他金融機構進行付款， 需支付跨行手續費15元。 例：玉山金融卡在玉山WebATM轉帳享0元手續費；玉山金融卡在非玉山 WebATM轉帳收取15元手續費。
        </li>
      </ol>
    </div>
</div>

