<div class="banner"></div>
<div class="logo_wrap">
  <img class="logo" src="../../assets/images/Group_187.png" alt="">
</div>
<div class="content_wrap">
  <div class="title">付款成功</div>
  <div class="detail">
    <div class="money">您已支付 1,250 元</div>
    <div class="sub_title">商店名稱</div>
    <div class="content">Amazing 3C online Shop</div>
    <div class="sub_title">訂單編號</div>
    <div class="content">239234dwnd321</div>
    <div class="sub_title">支付方式</div>
    <div class="content">信用卡付款</div>
  </div>
  <div class="redirect">
    畫面將自動轉回
    <br>
    Amazing 3C Online Shop
  </div>
</div>
